{#
/**
 * @file
 * Default theme implementation to display a DFP tag.
 *
 * Available variables:
 * - tag: \Drupal\dfp\View\TagView object.
 *
 * @see \Drupal\dfp\View\Tag\TagViewBuilder::buildPreTag()
 *
 * @ingroup themeable
 */
#}
{% set slug %}
  {% if tag.slug %}
    {% if tag.isSlugHidden == true %}
      <div class=".dfp-tag--slug hidden">{{ tag.slug }}</div>
    {% else %}
      <div class=".dfp-tag--slug">{{ tag.slug }}</div>
    {% endif %}
  {% endif %}
{% endset %}
{% if slug and tag.getSlugPosition == 0 %}
    {{ slug }}
{% endif %}
<div id="{{ tag.placeholderId }}">
    {% if slug and tag.getSlugPosition == 1 %}
        {{ slug }}
    {% endif %}
    <script type="text/javascript">
      googletag.cmd.push(function() {
        googletag.display('{{ tag.placeholderId }}');
      });
    </script>
</div>
{% if slug and tag.getSlugPosition == 2 %}
    {{ slug }}
{% endif %}
