{#
/**
 * @file
 * Default theme implementation to display a DFP tag.
 *
 * Available variables:
 * - tag: \Drupal\dfp\View\TagView object.
 *
 * @see \Drupal\dfp\View\Tag\TagViewBuilder::buildPreTag()
 *
 * @ingroup themeable
 */
#}
{% set slugElement %}
  {% if tag.getSlugPosition == 0 and tag.isSlugHidden %}
    <div id="slug-{{ tag.placeholderId }}" class="dfp-tag--slug hidden">{{ tag.slug }}</div>
  {% else %}
    <div id="slug-{{ tag.placeholderId }}" class="dfp-tag--slug">{{ tag.slug }}</div>
  {% endif %}
{% endset %}
{% if tag.getSlugPosition == 0 %}
  {{ slugElement }}
{% endif %}
<div id="{{ tag.placeholderId }}">
  {% if tag.getSlugPosition == 1 %}
    {{ slugElement }}
  {% endif %}
  <script type="text/javascript">
    googletag.cmd.push(function() {
      googletag.display('{{ tag.placeholderId }}');
    });
  </script>
</div>
